<div class="change-password-wrapper">
  <div class="change-bg"></div>

  <form (ngSubmit)="submit()" [formGroup]="form" class="change-password-form">
    <h2>🔐Change Password</h2>

    <p class="email-text">Email: {{ email }}</p>

    <label>Old Password</label>

<div class="password-wrapper">
  <input
    [type]="showOldPassword ? 'text' : 'password'"
    formControlName="oldPassword"
    placeholder="Enter old password"
  />

  <!-- 👁 Eye icon -->
  <i 
    class="bi"
    [ngClass]="showOldPassword ? 'bi-eye-slash' : 'bi-eye'"
    (click)="toggleOldPassword()"
  ></i>
</div>

@if (form.controls['oldPassword'].invalid && form.controls['oldPassword'].touched) {
  <p class="error">Old password is required (min 6 chars).</p>
}


   <label>New Password</label>

<div class="password-wrapper">
  <input
    [type]="showNewPassword ? 'text' : 'password'"
    formControlName="newPassword"
    placeholder="Enter new password"
  />

  <!-- 👁 Eye icon -->
  <i 
    class="bi"
    [ngClass]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'"
    (click)="toggleNewPassword()"
  ></i>
</div>

@if (form.controls['newPassword'].touched && form.controls['newPassword'].invalid) {
  <p class="error">
    @if (form.controls['newPassword'].errors?.['required']) {
      New password is required.
    }
    @if (form.controls['newPassword'].errors?.['minlength']) {
      Must be at least 6 characters.
    }
  </p>
}


    <button type="submit" [disabled]="loading">
      {{ loading ? 'Updating...' : 'Change Password' }}
    </button>

    <p class="message">{{ message }}</p>
  </form>
</div>
