<!-- ================= NAVBAR ================= -->
<nav class="navbar">

  <!-- LEFT SIDE -->
  <div class="left">
    <i class="bi bi-shield-lock logo-icon"></i>
    <span class="brand">Kaappaan Tenant Admin</span>
  </div>

  <!-- RIGHT SIDE -->
  <div class="right">

    <div class="profile-wrapper" (click)="toggleProfileMenu()">
    <i class="bi bi-person-circle profile-icon"></i>
    <span class="profile-name">{{ tenantShortName }}</span>

    <div class="profile-menu" [class.show]="menuOpen">

        <h6 class="tenant-title">{{ tenantName }}</h6>

        <button (click)="goToProfile()">My Profile</button>
        <button (click)="goToSettings()">Settings</button>
        <button (click)="logout()">Logout</button>

    </div>
</div>


    

  </div>
</nav>



<!-- ================= MAIN DASHBOARD CARD ================= -->
<div class="dashboard-container">

  <h2 class="tenant-id">Tenant: {{ tenantName }}</h2>

  <!-- Create User button -->
  <button class="create-btn" (click)="createUser()">+ Create User</button>

 

  <!-- ================= USER TABLE ================= -->
  @if (!loading && users.length > 0) {

    <table class="user-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>phone</th>
          <th>Status</th>
          <th width="200px">Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (u of users; track u.id) {
          <tr>
            <td>{{ u.name }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.role }}</td>
                 <td>{{ u.phone }}</td>
            <td>{{ u.isActive ? 'Active' : 'Inactive' }}</td>
            <td class="actions">
              <button class="view" (click)="viewUser(u.id)">View</button>
              <button class="edit" (click)="editUser(u.id)">Edit</button>
              <button class="delete" (click)="deleteUser(u.id)">Delete</button>
            </td>
          </tr>
        }
      </tbody>
    </table>

  }

  @if (!loading && users.length === 0) {
    <p class="empty">No users found.</p>
  }

</div>
