<div class="tenant-list-wrapper">

  <header>
    <h1>🏢 {{ selectedServiceType || 'All' }} Tenants</h1>
  </header>

<div class="search-wrapper">
  <input
    type="text"
    placeholder="Search tenants..."
    [(ngModel)]="searchText"
    (input)="applySearch()"
  />
</div>



<button class="btn back-btn" (click)="Back()">⬅ Back</button>


  <!-- ✅ Show table only if tenants available -->
  @if (!loading && filteredTenants.length > 0) {
    <table>
      <thead>
        <tr>
           <th>Service Type</th>
           <th>TennatId</th>
          <th>Name</th>
          <th>Code</th>
          <th>State / District</th>
          <th>City</th> 
          <th>Address01</th>
          <th>Address02</th>  
          <th>Postal Code</th>
          <th>Contact</th>
          <th>Actions</th>
         

        </tr>
      </thead>

      <tbody>
        @for (tenant of filteredTenants; track tenant.id) {
          <tr>
             <td>{{ tenant.serviceType }}</td>
            <td>{{ tenant.id }}</td>
            <td>{{ tenant.name }}</td>
            <td>{{ tenant.code }}</td>
            <td>{{ tenant.stateOrDistrict }}</td>
            <td>{{ tenant.city }}</td>
            <td>{{ tenant.addressLine1 }}</td>
            <td>{{ tenant.addressLine2}}</td>
            <td>{{ tenant.postalCode }}</td>
           
            <td>{{ tenant.  contactNumber}}</td>
            <td class="actions-cell">

            <button class="action-btn view" (click)="viewTenant(tenant.id)">
            <i class="bi bi-eye"></i>
            </button>
              <!-- 🗑️ Delete -->
            <button class="action-btn delete" (click)="deleteTenant(tenant.id)">
            <i class="bi bi-trash3"></i>
            </button>
            <!-- ✏️ Update -->
            <button class="action-btn edit" (click)="editTenant(tenant.id)">
              <i class="bi bi-pencil-square"></i>
            </button>


            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  <!-- ❌ Show empty message -->
  @if (!loading && filteredTenants.length === 0) {
    <p>No tenants found for {{ selectedServiceType }}.</p>
  }

  <!-- ⚠️ Error message -->
  @if (message) {
    <div class="error-msg">{{ message }}</div>
  }
</div>
